.Option1Page4 .page-content {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Option1Page4 {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 85%;          /* Πλάτος 85% της οθόνης */
  margin: 0 auto;      /* Κεντράρισμα του πλαισίου */
   background: rgba(255, 255, 255, 1);   /* Λευκό φόντο */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  /* Προαιρετικό: προσθέτει μια απαλή σκιά */
}
.Option1Page4 .content-wrapper {
  width: 80%;
  max-width: 1200px;
}
.Some{
 background:#D3D3D3;
}

.Option1Page4 .section-divider {
  height: 1px;
  background-color: #666;
  margin: 20px 0;
  width: 100%;
}

.Option1Page4 .section-title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 10px;
}

.Option1Page4 .subsection-title {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0;
}

.Option1Page4 .back-button, .front-button  {
  flex: 1;
  max-width: 200px;
}

.Option1Page4 .buttonas2-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Κεντράρει τα κουμπιά κατακόρυφα */
  margin: 20px auto; /* Προσθήκη κενών γύρω από τα κουμπιά */
  width: 90%; /* Το πλαίσιο των κουμπιών να καταλαμβάνει το 90% του πλάτους */
  max-width: 1200px; /* Μέγιστο πλάτος */
  gap: 400px; /* Απόσταση ανάμεσα στα κουμπιά */
  padding: 10px 10px; /* Χώρος αριστερά και δεξιά από τα κουμπιά */
}



footer {
  margin-top: auto;
}


.Option1Page4 .back-button {
  text-align: left;
}

.Option1Page4 .front-button {
  text-align: right;
}