.info3-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
    font-family: 'Arial', sans-serif;
}

.info3-container .checkbox3 {
  width: 37px;
  height: 25px;
  border: 2px solid #000;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.info3-container .checkbox3.checked3 {
  background-color: #007bff; /* Μπλε χρώμα */
  border-color: #007bff;
}

.info3-container .tick {
  font-size: 20px;
  color: #fff; /* ’σπρο tick */
}



.info3-container .info-text {
  font-size: 17px;
  line-height: 1.5;
  color: #333;
}