/* dropdown_styles.css */

.butt-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.butt-container .add-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.butt-container .add-button:hover {
  background-color: #0056b3;
}

.butt-container .dropdown-wrapper {
  width: 100%;
  max-width: 600px; 
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.butt-container .dropdown-label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.butt-container .dropdown {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
  width: 100%;
  max-width: 600px; 
  height: 50px;
  position: relative;
  justify-content: space-between;
}

.butt-container .dropdown-input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 16px;
  padding-left: 10px;
}

.butt-container .dropdown-arrow {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px; /* Απόσταση από το input */
  color: #333;
}

.butt-container .dropdown-options {
  position: absolute;
  top: 57%; 
  left: 48%; /* Ευθυγράμμιση με το βελάκι */
  transform: translateX(50%); /* Κεντράρει το πλαίσιο ακριβώς δίπλα στο βελάκι */
  margin-top: 5px; /* Απόσταση από το input */
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 290px;
  width: 200px;
  overflow-y: auto;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.butt-container .dropdown-option {
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.butt-container .dropdown-option:hover {
  background-color: #f0f0f0;
}
