/* CVButton.css */

.cv-container {
  font-family: Arial, sans-serif;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  width: 800px;
  margin: 20px auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.cv-container .cv-header {
  background-color: #375a7f;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

.cv-container .cv-content {
  display: flex;
}

.cv-container .cv-sidebar {
  width: 30%;
  background-color: #f7f7f7;
  padding: 15px;
  border-right: 1px solid #ccc;
}

.photo-upload {
  text-align: center;
  margin-bottom: 20px;
}

.cv-container .photo-preview {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e9ecef;
  overflow: hidden;
}

.cv-container .photo-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cv-container .sidebar-fields li {
  margin: 10px 0;
}

.cv-main {
  width: 70%;
  padding: 15px;
  background-color:#D8E6F3;
}

.cv-main .cv-section {
  margin-bottom: 20px;
}

.cv-main .cv-section h3 {
  margin-bottom: 10px;
  font-size: 16px;
  color: #375a7f;
}

.cv-main .cv-section textarea {
  width: 100%;
  height: 80px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  resize: vertical;
}

.cv-main .back-button, .front-button  {
  flex: 1;
  max-width: 200px;
}

.cv-main .back-button {
  text-align: left;
}

.cv-main .front-button {
  text-align: right;
}

.cv-main .button-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Κεντράρει τα κουμπιά κατακόρυφα */
  margin: 20px auto; /* Προσθήκη κενών γύρω από τα κουμπιά */
  width: 90%; /* Το πλαίσιο των κουμπιών να καταλαμβάνει το 90% του πλάτους */
  max-width: 1200px; /* Μέγιστο πλάτος */
  gap: 4000px; /* Απόσταση ανάμεσα στα κουμπιά */
  padding: 10px 10px; /* Χώρος αριστερά και δεξιά από τα κουμπιά */
}