.CV {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 85%;          /* Πλάτος 85% της οθόνης */
  margin: 0 auto;      /* Κεντράρισμα του πλαισίου */
  background: rgba(255, 255, 255, 1);   /* Λευκό φόντο */
   font-family: 'Arial', sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  /* Προαιρετικό: προσθέτει μια απαλή σκιά */
}

footer {
  margin-top: auto; /* Το footer θα πάει στο κάτω μέρος */
}
.CV .back-button, .front-button  {
  flex: 1;
  max-width: 600px;
}

.CV .back-button {
  text-align: left;
}

.CV .front-button {
  text-align: right;
}
.Some{
 background:#D3D3D3;
}

.CV .button-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Κεντράρει τα κουμπιά κατακόρυφα */
  margin: 20px auto; /* Προσθήκη κενών γύρω από τα κουμπιά */
  width: 90%; /* Το πλαίσιο των κουμπιών να καταλαμβάνει το 90% του πλάτους */
  max-width: 1200px; /* Μέγιστο πλάτος */
  gap: 100px; /* Απόσταση ανάμεσα στα κουμπιά */
  padding: 10px 10px; /* Χώρος αριστερά και δεξιά από τα κουμπιά */
}