.button-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sumbutton-button button {
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sumbutton-button button:hover {
    opacity: 0.9;
}

#create {
  background-color: #4682b4;
  color: white;
}

#cancel {
  background-color: #f08080;
  color: white;
}

#edit {
  background-color: #90ee90;
  color: black;
}