.info-container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
    font-family: 'Arial', sans-serif;
}

.info-container .checkbox {
  width: 100px; /* Μεγαλύτερο πλάτος */
  height: 25px; /* Μεγαλύτερο ύψος */
  border: 2px solid #000;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.info-container .checkbox.checked {
  background-color: #007bff; /* Μπλε χρώμα */
  border-color: #007bff;
}

.info-container .tick {
  font-size: 20px; /* Μεγαλύτερο tick */
  color: #fff; /* ’σπρο tick */
}

.info-container .info-text {
  font-size: 17px;
  line-height: 1.5;
  color: #333;
}
